/site/web/bundles/
/site/web/fotos/
/site/app/bootstrap.php.cache
/site/app/cache/*
/site/app/config/parameters.yml
/site/app/logs/*
!/site/app/cache/.gitkeep
!/site/app/logs/.gitkeep
/site/build/
/site/vendor/
/site/bin/
/site/composer.phar
/site/.idea/
*.dump
