<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
                Elecciones 2014
            {% endblock %}
        </title>
    </head>
    <body>
        {% block container %}
        {% endblock %}
    </body>
</html>
