<!-- Header Language -->
{#
<div class="header-language clearfix">
    <ul>
        <li class="active"><a href="#">En</a></li>
        <li><a href="#">Fr</a></li>
        <li><a href="#">De</a></li>
        <li><a href="#">It</a></li>
    </ul>
</div> <!-- end .header-language -->
#}
